<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artplace</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <%- include ("./partials/header") %> 

<main>
    <h2 class="featured">MAS DESTACADOS</h2>
    <section class="products">
        
        <article class="product">
            <a href="/products/<%= products[0].id %>" class="link-properties">
            <div class="image-container">
                <img src="/images/<%=products[0].img1%>" alt="">
            </div>
            <h3><%= products[0].productName %></h3>
            <div class="price-product">
                <span class="usd">U$D</span>
                <span class="price-text"><%= products[0].price%></span>
            </div> 
           
            </a>
        </article>
        
            
        <article class="product">
            <a href="/products/<%= products[1].id %>" class="link-properties">
            <div class="image-container">
                <img src="images/<%=products[1].img1%>" alt="">
            </div>
            <h3><%= products[1].productName %></h3>
            <div class="price-product">
                <span class="usd">U$D</span>
                <span class="price-text"><%= products[1].price%></span>
            </div>
            
        </a>
        </article>

        <article class="product">
            <a href="/products/<%= products[2].id %>" class="link-properties">
            <div class="image-container">
                <img src="images/<%=products[2].img1%>" alt="">
            </div>
            <h3><%= products[2].productName %></h3>
            <div class="price-product">
                <span class="usd">U$D</span>
                <span class="price-text"><%= products[2].price%></span>
            </div>
           
        </a>
        </article>
    </section>
    
    <div class="">
        <div class="metods-container">
            <div class="descriptions">
                <i class="fa-solid fa-credit-card"></i>       
                <h2>Pagá con tarjeta</h2>
                <p>En Artplace tenes cuotas sin interes para pagar con tu tarjeta de credito, o debitarlo directamente de tu tarjeta de debito.</p>                       
            </div>

            <div class="descriptions">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h2>Paga en efectivo</h2>
                <p>Tambien podes pagar en efectivo acercandote a cualquier Pagofacil o Rapipago del pais.</p>                       
            </div>

            <div class="descriptions">
                 <i class="fa-solid fa-user-shield"></i> 
                <h2>Tu seguridad y comodidad esta primero</h2>
                <p>Si algo no cumplio con lo que buscabas, u ocurrio algun problema te brindamos ayuda inmediata para poder solucionartelo.</p>                      
            </div>
        </div>
    </div>

    <div class="offers">
        <h2 class="featured">OFERTAS</h2>
    </div>
    <section class="products">
        <article class="product">
            <a href="/products/<%= products[3].id %>" class="link-properties">
            <div class="image-container">
                <img src="images/<%=products[3].img1%>" alt="">
            </div>
            <h3><%= products[3].productName %></h3>
            <div class="price-product">
                <span class="usd">U$D</span>
                <span class="price-text"><%= products[3].price%></span>
            </div>
           
        </a>
        </article>
            
        <article class="product">
            <a href="/products/<%= products[4].id %>" class="link-properties">
            <div class="image-container">
                <img src="images/<%=products[4].img1%>" alt="">
            </div>
            <h3><%= products[4].productName %></h3>
            <div class="price-product">
                <span class="usd">U$D</span>
                <span class="price-text"><%= products[4].price%></span>
            </div>
           
        </a>
        </article>

        <article class="product">
            <a href="/products/<%= products[5].id %>" class="link-properties">
            <div class="image-container">
                <img src="images/<%=products[5].img1%>" alt="">
            </div>
            <h3><%= products[5].productName %></h3>
            <div class="price-product">
                <span class="usd">U$D</span>
                <span class="price-text"><%= products[5].price%></span>
            </div>
           
        </a>
        </article>
    </section>
</main>

<%- include ("./partials/footer") %> 
</body>
</html>